.header {
  display: flex;
  margin: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.navbar{
  align-items: center;
  margin-left: 10px;
  display: flex;
}

.navbar * {
  margin-left: 20px;
}