.header {
  display: flex;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header * {
  text-decoration: none;
  color: black;
}

.logo{
  display: flex;
  align-items: center;
}

.navbar{
  align-items: center;
  margin-left: 10px;
  display: flex;
}

.navbar * {
  margin-left: 20px;
}

.navbar-right {
  align-items: center;
  margin-left: 10px;
  display: flex;
}

.navbar-right * {
  margin-left: 1150px;
}

.contents * {
  flex-direction: column;
}