.header {
  display: flex;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 1px -3px rgba(0,0,0,0.75);
}

.header * {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.logo{
  display: flex;
  align-items: center;
}

.navbar{
  align-items: center;
  margin-left: 10px;
  display: flex;
}

.navbar * {
  margin-left: 20px;
}

.navbar-right {
 margin-left: auto;
 margin-top: 15px;
 margin-right: 5px;
}

.contents {
  margin: 10px;
}

.logind-box {
  margin: 10px;
}

.logind-box * {
  display: flow-root;
}

.contents * {
  display: flow-root;
}

.dine-noter {
  margin: 10px;
}