<head>

    <title>TrueNotes</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>



<body>
    <div class="header">
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/1066993301401653338/1170988943391592498/TrueNotes.png?ex=655b0b70&is=65489670&hm=91d4e42b7b262c1558cb5a9cb0c018c37c37bfbc579e5afb1dcb5b45bceb8957&" width="75" height="50">
        </div>
       <div class="navbar">
            {% for key, value in menu.items() %}
                <a href="{{value}}">{{key}}</a>
            {% endfor %}   
       </div> 
    </div>
<body>