<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
    <h2>Her kan du logge ind på din konto</h2>

        <div class = "logind-box">
            <form method = "POST" action = '/login' enctype="multipart/form-data">
                <div class = "blog postblog-page">
                    <input type = "title" class = "blog-name" name = "Navn" placeholder="Navn" required = "True">
                    <textarea class = "blog-text" name = "blog-text" placeholder="Adgangskode" required = "True"></textarea> 
                </div>                                
            <input class="button" type="submit" value="Logind">
        </form>

</body>    

</html>